{% extends 'base.html' %}

{% block title %}
{{ res_value('MEET_POPULATION') }}
{% endblock %}

{% block main_title %}
<span style="font-weight: bold">{{ res_value('MEET_POPULATION') }}</span>
{% endblock %}

{% block link_style %}
<!--<link rel="stylesheet" type="text/css" href="/static/common_style/filters.css">
<link rel="stylesheet" type="text/css" href="/static/{{session['style']}}/filters.css">-->
{% endblock %}

{% block body %}

<div id="irr-population-form">
    <form class="irr-form">

        <div class="form-row">
            <label>{{ res_value('MEET_DATE') }}</label>
            <input class="input_d" style="max-width: 124px" type="date" name="meet_date" required>
        </div>

        <div class="form-row">
            <label>Регион</label>
            <select class="input_s" name="region" required>
                <option value="">{{ res_value('SELECT_REGION') }}</option>
            </select>
        </div>

        <div class="form-row">
            <label>Район</label>
            <select class="input_s" name="district" required>
                <option value="">{{ res_value('SELECT_RAYON') }}</option>
            </select>
        </div>

        <div class="form-row">
            <label>{{ res_value('COUNT_PARTICIPIENT') }}</label>
            <input class="input_s" style="max-width: 80px" type="number" name="participants_total" min="1" required>
        </div>

        <div class="form-row">
            <label>{{ res_value('COUNT_WOMEN') }}</label>
            <input class="input_s" style="max-width: 80px" type="number" name="participants_women" min="0" required>
        </div>

        <div class="form-row">
            <label>{{ res_value('SPEAKER_FIO') }}</label>
            <input class="input_s" type="text" name="speaker_fio" list="speakers" required>
        </div>

        <div class="form-row">
            <label>{{ res_value('MEETING_FORMAT') }}</label>
            <select class="input_s" style="max-width: 170px" name="meeting_format" required>
                <option value="">{{ res_value('SELECT_FORMAT') }}</option>
                <option value="offline">{{ res_value('ON_PLACE_FORMAT') }}</option>
                <option value="online">{{ res_value('ON_LINE_FORMAT') }}</option>
            </select>
        </div>

        <div class="form-row">
            <label>{{ res_value('NAME_PARTNERS') }}</label>
            <select name="partners[]" multiple>
                <option value="self">Проведено самостоятельно</option>
            </select>
        </div>

        <div class="form-row">
            <label>{{ res_value('MEETING_PLACE') }}</label>
            <input class="input_s" style="min-width: 420px" type="text" name="meeting_place" required>
        </div>

        <div class="form-row">
            <label>{{ res_value('PHOTO_REPORT') }}</label>
            <input type="file" name="photos[]" multiple accept="image/*" required>
        </div>

        <div class="form-row form-actions">
            <button type="submit">{{ res_value('BUTTON_SAVE') }}</button>
        </div>

    </form>
</div>
<!-- <script type="module" id="pageScript" data-page="base_pension" src="static/js/main.js"></script> -->
{% endblock %}