{% extends 'base.html' %}

{% block title %}
{{ res_value('MEET_LABOR') }}
{% endblock %}

{% block main_title %}
    <span style="font-weight: bold">{{ res_value('MEET_LABOR') }}</span>
{% endblock %}

{% block body %}

<div id="irr-labor-form">
    <form class="irr-form" method="post" enctype="multipart/form-data">

        <div class="form-row">
            <label>{{ res_value('MEET_DATE') }}</label>
            <input class="input_d" style="max-width: 132px" type="date" name="meet_date" value="{{ data.meet_date }}" required>
        </div>

        <div class="form-row">
            <label for="region-select">{{ res_value('SELECT_REGION') }}</label>
            <select id="region-select" class="input_s" style="min-width: 274px" name="region" value="{{ data.region }}" required>
                {% for code, region in regions.items() %}
                <option value="{{ code }}"
                        {% if code in data.region %}selected{% endif %}>
                    {{ region.legacy_name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-row">
            <label for="district-select">{{ res_value('SELECT_RAYON') }}</label>
            <select id="district-select" name="district" style="min-width: 444px" class="input_s hidden" required>
                <option value="{{ data.district }}" selected hidden></option>
            </select>
        </div>

        <div class="form-row">
            <label for="count-participient">{{ res_value('COUNT_PARTICIPIENT') }}</label>
            <input id="count-participient" class="input_s" style="max-width: 80px" type="number" name="participants_total" min="1" value="{{ data.participants_total }}" required>
        </div>

        <div class="form-row">
            <label for="count-women">{{ res_value('COUNT_WOMEN') }}</label>
            <input id="count-women" class="input_s" style="max-width: 80px" type="number" name="participants_women" min="0" value="{{ data.participants_women }}" required>
        </div>

        <div class="form-row">
            <label for="speaker-fio">{{ res_value('SPEAKER_FIO') }}</label>
            <input id="speaker-fio" class="input_s" type="text" name="speaker_fio" list="speakers" value="{{ data.speaker_fio }}" required>
        </div>

        <div class="form-row">
            <label for="meeting-format">{{ res_value('MEETING_FORMAT') }}</label>
            <select id="meeting-format" class="input_s" style="max-width: 170px" name="meeting_format" value="{{ data.meeting_format }}" required>
                <option value="">{{ res_value('SELECT_FORMAT') }}</option>
                <option value="offline" {% if "offline" in data.meeting_format %}selected{% endif %}>{{ res_value('ON_PLACE_FORMAT') }}</option>
                <option value="online" {% if "online" in data.meeting_format %}selected{% endif %}>{{ res_value('ON_LINE_FORMAT') }}</option>
            </select>
        </div>

        <div class="form-row">
            <label>{{ res_value('NAME_PARTNERS') }}</label>
            <div style="display: flex; flex-direction: column; gap: 6px; border: 1px solid; max-width: 720px">
                {% for partner in list_partners %}
                <label>
                    <input type="checkbox" name="partners" value="{{partner}}"
                           {% if partner in data.partners %}checked{% endif %}>
                    {{ partner }}
                </label>
                {% endfor %}
            </div>
        </div>

        <div class="form-row">
            <label for="category-subject">{{ res_value('CATEGORY_SUBJECT') }}</label>
            <select id="category-subject" class="input_s" style="max-width: 188px" name="business_category" required>
                <option value="">{{ res_value('CATEGORY_SELECT') }}</option>
                <option value="large" {% if "large" in data.business_category %}selected{% endif %}>{{ res_value('CATEGORY_LARGE') }}</option>
                <option value="medium" {% if "medium" in data.business_category %}selected{% endif %}>{{ res_value('CATEGORY_MIDDLE') }}</option>
                <option value="small" {% if "small" in data.business_category %}selected{% endif %}>{{ res_value('CATEGORY_SMALL') }}</option>
            </select>
        </div>

        <div class="form-row">
            <label for="bin-organization">{{ res_value('BIN_ORGANIZATION') }}</label>
            <input id="bin-organization" class="input_s" style="max-width: 140px" name="bin"
                   type="text" maxlength="12" pattern="\d{12}" inputmode="numeric" title="Введите ровно 12 цифр" oninput="this.value = this.value.replace(/\D/g, '')" required value="{{ data.bin }}">
        </div>

        <div class="form-row">
            <label for="name-organization">{{ res_value('NAME_ORGANIZATION') }}</label>
            <input id="name-organization" class="input_s" type="text" name="organization_name" style="background: transparent; border: none; outline: none; box-shadow: none;" value="{{ data.organization_name }}">
        </div>

        <div class="form-row">
            <span>{{ res_value('PHOTO_REPORT') }}</span>
            <div style="display: flex; flex-direction: column; gap: 6px">
                <label for="photo-report" class="button" style="max-width: 220px">
                    📷 {{ res_value('PHOTO_SELECT') }}
                </label>
                <input type="file" id="photo-report" name="photo_report" accept="image/*" multiple hidden>
                <div id="photo-file-names" class="file-names"></div>
            </div>
        </div>

        <div class="form-row form-actions">
            <button type="submit">{{ res_value('BUTTON_SAVE') }}</button>
            <span style="white-space: pre-line; padding: 0px; margin: 0px; font-weight: bold; font-size: 14px; line-height: 0.8; color: green">{{ message }}</span>
        </div>

    </form>
</div>
<script> window.DISTRICTS = {{ districts | tojson }}; </script>
<script type="module" data-page="base_pension" src="/static/js/meet_labor.js"></script>
{% endblock %}
